/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

figure {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 3em;
}

div.container {
    max-width: 60em;
    margin: auto;
    background-color: rgb(249, 249, 249);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
    margin-bottom: 4em;
    padding: 1em 1em 1em;;
}

body {
	background-color: rgb(221, 221, 221);
	color: rgb(20, 20, 20);
}

h1 {
	background-color: rgb(251, 115, 6);
	color: rgb(249, 249, 249);
	font-size: 2rem;
	padding: 1.5em .7em .2em;
	font-weight: 700;
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
}

h2 {
	background-color: rgb(251, 115, 6);
	color: rgb(253, 214, 173);
	font-size: 1.5rem;
	padding: .1em .9em .9em;
	font-weight: 700;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
}

figcaption {
	background-color: rgb(249, 249, 249);
	color: rgb(29, 29, 29);
	font-size: 1rem;
	padding: 1em 1.5em 1em;
	font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
}

h3 {
	background-color: rgb(249, 249, 249);
	color: rgb(251, 115, 6);
	font-size: 1.2rem;
    letter-spacing: .1rem;
	font-weight: 500;
    text-transform: uppercase;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    border-top: 3px solid rgb(251, 115, 6);
    margin: 0em 1.3em .5em;;
    padding-top: 1em;
}

li {
    margin: .5em 1.5em .5em;
	font-size: 1rem;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    line-height: 150%;
}

li {
    margin: .5em 1.5em 1em;
	font-size: 1rem;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

footer {
    background-color: rgb(251, 115, 6);
	color: rgb(249, 249, 249);
    padding: 1em 1em 1em;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
